@font-face {
  font-family: "iconfont"; /* Project id 2658807 */
  src: url('iconfont.woff2?t=1625661922237') format('woff2'),
       url('iconfont.woff?t=1625661922237') format('woff'),
       url('iconfont.ttf?t=1625661922237') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Homehomepagemenu:before {
  content: "\e9db";
}

.icon-shangyibu:before {
  content: "\e617";
}

.icon-search:before {
  content: "\e600";
}

.icon-next:before {
  content: "\e701";
}

